{% extends "djupkeep/locations/base_detail.html" %}
{% load static %}
{% load i18n %}
{% load leaflet_tags %}

{% block content %}
  <div class="card mx-auto" style="max-width: 960px; margin-top: 15px">
    <div class="card-header">
      <h3>{% translate 'Location' %}: {{ object.title }}</h3>
      <p>{{ object.intro }}</p>
    </div>
    <div class="card-body">
      <script src="{% static 'djupkeep/js/location_detail.js'%}"></script>
      {% leaflet_map "mymap" callback="window.map_init" %}
    </div>
    <div class="card-footer">
      <a class="link-primary" href="{% url 'djupkeep:location_change' pk=object.id %}">
        {% trans "Modify" %}
      </a>
      <a class="link-primary"
        hx-get="{% url 'djupkeep:location_list' %}"
        hx-target="#content"
        hx-push-url="true">
        {% trans "Back to location list" %}
      </a>
    </div>
  </div>
  {% include "djupkeep/locations/includes/update_data.html" %}
{% endblock content %}
