{% extends "djupkeep/locations/base_detail.html" %}
{% load static %}
{% load i18n %}
{% load leaflet_tags %}
{% load geojson_tags %}

{% block content %}
  <div class="card mx-auto" style="max-width: 960px; margin-top: 15px">
    <div class="card-header">
      <div class="row">
        <div class="col col-8">
          <h3>{% translate 'Location' %}: {{ location.title }}</h3>
          <p>{{ location.intro }}</p>
        </div>
        <div class="col text-end">
          <a class="btn btn-warning"
            id="locate-user"
            title="{% translate 'Locate user' %}">
            <i class="fa fa-street-view"></i>
          </a>
        </div>
      </div>
    </div>
    <div class="card-body">
      {% if location.drawing %}
        <script src="{% static 'djupkeep/js/location_detail_drawing.js'%}"></script>
      {% else %}
        <script src="{% static 'djupkeep/js/location_detail.js'%}"></script>
      {% endif %}
      {% leaflet_map "mymap" callback="window.map_init" %}
    </div>
    <div class="card-footer">
      <a class="btn btn-primary"
        href="{% url 'djupkeep:location_change' pk=location.id %}">
        {% trans "Modify" %}
      </a>
      <a class="btn btn-primary"
        title="{% trans 'Add element to location' %}"
        href="{% url 'djupkeep:element_create_located' pk=location.id %}">
        + <i class="fa fa-map-marker"></i>
      </a>
      <a class="btn btn-close"
        title="{% trans 'Back to location list' %}"
        hx-get="{% url 'djupkeep:location_list' %}"
        hx-target="#content"
        hx-push-url="true">
      </a>
    </div>
  </div>
  {% include "djupkeep/locations/includes/update_data.html" %}
  <script id="marker_data" type="application/json">{{ elements|geojsonfeature:"popupContent"|safe }}</script>
  {{ category_list|json_script:"layer_data" }}
{% endblock content %}
