{% extends "djupkeep/locations/base_detail.html" %}
{% load static %}
{% load i18n %}
{% load leaflet_tags %}
{% load geojson_tags %}

{% block content %}
  <div class="card mx-auto" style="max-width: 960px; margin-top: 15px">
    <div class="card-header">
      <h3>{% translate 'Location' %}: {{ object.title }}</h3>
      <p>{{ object.intro }}</p>
    </div>
    <div class="card-body">
      <script src="{% static 'djupkeep/js/location_detail.js'%}"></script>
      {% leaflet_map "mymap" callback="window.map_init" %}
    </div>
    <div class="card-footer">
      <a class="btn btn-primary" style="margin-bottom: 15px"
        href="{% url 'djupkeep:location_change' pk=object.id %}">
        {% trans "Modify" %}
      </a>
      <div class="dropdown">
        <a class="btn btn-secondary dropdown-toggle"
          href="#"
          role="button"
          id="dropdownMenuLink"
          data-bs-toggle="dropdown"
          aria-expanded="false">
          {% trans "Other actions" %}
        </a>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
          <li>
            <a class="dropdown-item"
              href="{% url 'djupkeep:element_create' %}?location={{ object.id }}">
              {% trans "Add element to location" %}
            </a>
          </li>
          <li><hr class="dropdown-divider"></li>
          <li>
            <a class="dropdown-item"
              hx-get="{% url 'djupkeep:location_list' %}"
              hx-target="#content"
              hx-push-url="true">
              {% trans "Back to location list" %}
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  {% include "djupkeep/locations/includes/update_data.html" %}
  <script id="marker_data" type="application/json">{{ elements|geojsonfeature:"popupContent"|safe }}</script>
  {{ category_list|json_script:"layer_data" }}
{% endblock content %}
