{% extends "djupkeep/locations/base_form.html" %}
{% load bootstrap5 %}
{% load i18n %}

{% block content %}
  <form method="POST" action="" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="row">
      <div class="col" style="margin-bottom: 20px">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title">
              {% trans "Update location"%}: {{ object }}
            </h4>
          </div>
          <div class="card-body">
            {% if object.elements.exists %}
              <div class="alert alert-danger alert-dismissible fade show" role="alert">
                {% trans "Warning: some elements are already attached to this location, don't change origin position" %}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
            {% else %}
              <div class="alert alert-success alert-dismissible fade show" role="alert">
                {% trans "TODO: explain 'Length' and 'Meters' fields." %}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
            {% endif %}
            {% bootstrap_field form.title %}
            {% bootstrap_field form.intro %}
            {% bootstrap_field form.image %}
            {% bootstrap_field form.meters %}
          </div>
          <div class="card-footer">
            <input class="btn btn-primary"
              style="margin-bottom: 15px;"
              type="submit"
              value="{% trans 'Update' %}" />
            <div class="dropdown">
              <a class="btn btn-secondary dropdown-toggle"
                href="#"
                role="button"
                id="dropdownMenuLink"
                data-bs-toggle="dropdown"
                aria-expanded="false">
                {% trans "Other actions" %}
              </a>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <li>
                  <a class="dropdown-item"
                    href="{% url 'djupkeep:location_detail' pk=object.id %}">
                    {% trans "View location" %}
                  </a>
                </li>
                <li><hr class="dropdown-divider"></li>
                <li>
                  <a class="dropdown-item"
                    hx-get="{% url 'djupkeep:location_delete' pk=object.id %}"
                    hx-target="#content"
                    hx-confirm="{% trans 'Are you sure you want to delete location' %} {{ object.title }}"
                    hx-push-url="{% url 'djupkeep:location_list' %}">
                    {% trans "Delete location" %}
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col col-xl-8 col-lg-8 col-md-12 col-sm-12 col-12">
        {% bootstrap_field form.length %}
      </div>
    </div>
  </form>
  {% include "djupkeep/locations/includes/update_data.html" %}
{% endblock content %}
