{% load bootstrap5 %}
{% load i18n %}

<div class="card">
  <form
    hx-post="{% url 'djupkeep:activity_create' pk=category.id %}"
    hx-target="#activity-list">
    <div class="card-body">
      {% bootstrap_form form %}
      <button class="btn btn-success" type="submit">
        {% trans "Add" %}
        <span class="htmx-indicator spinner-border spinner-border-sm"></span>
      </button>
      <a class="btn btn-secondary"
        hx-get="{% url 'djupkeep:activity_create_dismiss' pk=category.id %}"
        hx-target="#activity-add">
        {% trans 'Dismiss' %}
      </a>
    </div>
  </form>
</div>
