{% load i18n %}

<div
  class="card mx-auto mt-4"
  style="max-width: 960px" >
  <div class="card-header">
    <h2>{% translate 'Category' %}: {{ category.get_punctuated_index }} - {{ category.title }}</h2>
    <p><em>{{ category.intro }}</em></p>
    <a class="link-primary"
      hx-get="{% url 'djupkeep:category_list' %}"
      hx-target="#content"
      hx-push-url="true">
      {% translate 'All categories' %}
    </a>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12" id="activity-list">
        {% if category.has_ancestor_with_activities %}
          <div class="alert alert-warning alert-dismissible fade show" role="alert">
            {% trans "Warning: this category inherits activities from it's ancestors" %}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        {% endif %}
        {% include "djupkeep/activities/htmx/list.html" %}
      </div>
      <div class="col">
        {% include "djupkeep/categories/includes/element_create_button.html" %}
        {% for element in category.elements.all %}
          <div class="alert alert-info">
            <strong>
              <a class="link-primary"
                hx-get="{% url 'djupkeep:element_detail' pk=element.id %}"
                hx-target="#content"
                hx-push-url="true">
                {{ element.id }}</a>
            </strong> -
            <em>{{ element.intro }}</em>
            <br>
            <i class="fa fa-map-o"></i> <a
              href="{% url 'djupkeep:location_detail' pk=element.location.id %}?element={{ element.id }}">
              {{ element.location }}
            </a>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
