{% load i18n %}
{% load bootstrap5 %}

<div
  class="card mx-auto"
  style="max-width: 960px; margin-top: 60px" >
  <div class="card-header">
    <h3>{% translate 'Maintenance Plan Content' %}</h3>
  </div>
  <div class="card-body">
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
      <div class="col" id="categories">
        <div class="card h-100">
          <div class="card-body">
            <h5 class="card-title">
              <a class="btn btn-primary btn-lg"
                hx-get="{% url 'djupkeep:category_list_wrapper' %}"
                hx-target="#content"
                hx-push-url="{% url 'djupkeep:category_list' %}">
                {% trans 'Categories' %} <i class="fa fa-folder-o fa-lg"></i>
              </a>
            </h5>
            <p class="card-text">{% trans 'A hierarchical directory of Elements' %}</p>
          </div>
        </div>
      </div>
      <div class="col" id="elements">
        <div class="card h-100">
          <div class="card-body">
            <h5 class="card-title">
              <a class="btn btn-primary btn-lg"
                hx-get="{% url 'djupkeep:element_list' %}"
                hx-target="#content"
                hx-push-url="true">
                {% trans 'Elements' %} <i class="fa fa-map-marker fa-lg"></i>
              </a>
            </h5>
            <p class="card-text">{% trans 'Objects of maintenance' %}</p>
          </div>
        </div>
      </div>
      <div class="col" id="locations">
        <div class="card h-100">
          <div class="card-body">
            <h5 class="card-title">
              <a class="btn btn-primary btn-lg"
                hx-get="{% url 'djupkeep:location_list' %}"
                hx-target="#content"
                hx-push-url="true">
                {% trans 'Locations' %} <i class="fa fa-map-o fa-lg"></i>
              </a>
            </h5>
            <p class="card-text">{% trans 'Where Elements are' %}</p>
          </div>
        </div>
      </div>
      <div class="col" id="activities">
        <div class="card h-100">
          <div class="card-body">
            <form
              hx-post="{% url 'djupkeep:introduction' %}"
              hx-target="#content"
              hx-push-url="true">
              <h5 class="card-title">
                <button class="btn btn-primary btn-lg" type="submit">
                  {% trans 'Activities' %} <i class="fa fa-wrench fa-lg"></i>
                </button>
              </h5>
              {% bootstrap_form form %}
            </form>
          </div>
        </div>
      </div>
      <div class="col" id="tasks">
        <div class="card h-100">
          <div class="card-body">
            <h5 class="card-title">
              <a class="btn btn-primary btn-lg"
                hx-get="{% url 'djupkeep:task_list' %}"
                hx-target="#content"
                hx-push-url="true">
                {% trans 'Tasks' %} <i class="fa fa-check-square-o fa-lg"></i>
              </a>
            </h5>
            <p class="card-text">{% trans 'Perform an Activity to maintain an Element' %}</p>
          </div>
        </div>
      </div>
      <div class="col" id="maintainers">
        <div class="card h-100">
          <div class="card-body">
            <h5 class="card-title">
              <a class="btn btn-primary btn-lg"
                hx-get="#"
                hx-target="#content"
                hx-push-url="true">
                {% trans 'Maintainers' %} <i class="fa fa-user-md fa-lg"></i>
              </a>
            </h5>
            <p class="card-text">{% trans 'Those who perform Tasks' %}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
