{% load i18n %}

<div
  class="card mx-auto"
  style="max-width: 960px; margin-top: 60px" >
  <div class="card-header">
    <h3>{% translate 'Maintenance Plan Content' %}</h3>
  </div>
  <div class="card-body">
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
      <div class="col">
        <div class="card h-100">
          <div class="card-body">
            <h5 class="card-title">
              <a class="btn btn-primary btn-lg"
                hx-get="{% url 'djupkeep:element_list' %}"
                hx-target="#content"
                hx-push-url="true">
                {% trans 'Elements' %} <i class="fa fa-map-marker fa-lg"></i>
              </a>
            </h5>
            <p class="card-text">{% trans 'Things to be maintained' %}</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <div class="card-body">
            <h5 class="card-title">
              <a class="btn btn-primary btn-lg"
                hx-get="{% url 'djupkeep:category_list_wrapper' %}"
                hx-target="#content"
                hx-push-url="{% url 'djupkeep:category_list' %}">
                {% trans 'Categories' %} <i class="fa fa-folder-o fa-lg"></i>
              </a>
            </h5>
            <p class="card-text">{% trans 'A collection of things to be maintained' %}</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <div class="card-body">
            <h5 class="card-title">
              <a class="btn btn-primary btn-lg"
                hx-get="{% url 'djupkeep:location_list' %}"
                hx-target="#content"
                hx-push-url="true">
                {% trans 'Locations' %} <i class="fa fa-map-o fa-lg"></i>
              </a>
            </h5>
            <p class="card-text">{% trans 'Where things to be maintained are' %}</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <div class="card-body">
            <h5 class="card-title">
              <a class="btn btn-primary btn-lg"
                hx-get="#"
                hx-target="#content"
                hx-push-url="true">
                {% trans 'Activities' %} <i class="fa fa-wrench fa-lg"></i>
              </a>
            </h5>
            <p class="card-text">{% trans 'Maintenance procedures' %}</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <div class="card-body">
            <h5 class="card-title">
              <a class="btn btn-primary btn-lg"
                hx-get="#"
                hx-target="#content"
                hx-push-url="true">
                {% trans 'Maintainers' %} <i class="fa fa-user-md fa-lg"></i>
              </a>
            </h5>
            <p class="card-text">{% trans 'Those who perform the Activities' %}</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <div class="card-body">
            <h5 class="card-title">
              <a class="btn btn-primary btn-lg"
                hx-get="#"
                hx-target="#content"
                hx-push-url="true">
                {% trans 'Tasks' %} <i class="fa fa-check-square-o fa-lg"></i>
              </a>
            </h5>
            <p class="card-text">{% trans 'Perform an Activity to maintain an Element' %}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
