{% load i18n %}

<div
  class="card mx-auto"
  style="max-width: 960px; margin-top: 15px" >
  <div class="card-header">
    <h3>{% translate 'Categories' %}</h3>
  </div>
  <div class="card-body">
    <div id="cat-add" style="margin-bottom: 20px">
      {% include "djupkeep/categories/htmx/create_button.html" %}
    </div>
    {% include "djupkeep/categories/includes/sample.html" %}
    <div
      id="category-list"
      hx-get="{% url 'djupkeep:category_list_refresh' %}"
      hx-trigger="refreshList from:body">
      {% include "djupkeep/categories/htmx/list_refresh.html" %}
    </div>
  </div>
</div>
