{% load i18n %}

<div class="card mx-auto" style="max-width: 960px; margin-top: 60px">
  <div class="card-header">
    <h3>{% translate 'Categories' %}</h3>
  </div>
  <div class="card-body">
    {% if categories %}
      {% for category in categories %}
        <div class="row">
          <div class="col-{{ category.tree_depth }}">
          </div>
          <div class="col">
            <div class="alert alert-secondary" id="cat-{{ category.id }}">
              {{ category.title }} - <em>{{ category.intro }}</em>
            </div>
          </div>
        </div>
      {% endfor %}
    {% else %}
      <p>{% trans "No categories yet" %}</p>
    {% endif %}
  </div>
</div>
