{% load bootstrap5 %}
{% load i18n %}

<div class="card" style="margin-bottom: 15px">
  <form
    hx-post="{% url 'djupkeep:category_update' pk=category.id %}"
    hx-target="#cat-{{ category.id }}">
    <div class="card-body">
      <h5>{{ category.title }}</h5>
      {% bootstrap_form form %}
      <div class="row">
        <div class="col">
          <button class="btn btn-primary" type="submit">
            {% trans "Update" %}
            <span class="htmx-indicator spinner-border spinner-border-sm"></span>
          </button>
          <button class="btn-close"
            title="{% trans 'Dismiss' %}"
            hx-get="{% url 'djupkeep:category_detail' pk=category.id %}"
            hx-target="#cat-{{ category.id }}">
          </button>
        </div>
        <div class="col text-end">
          <button class="btn btn-danger"
            title="{% trans "Delete category" %}"
            hx-get="{% url 'djupkeep:category_delete' pk=category.id %}"
            hx-target="#category-list"
            hx-confirm="{% trans 'Are you sure you want to delete category' %} {{ category.title }}?">
            <i class="fa fa-trash"></i>
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
