{% load bootstrap5 %}
{% load i18n %}

<div class="card" style="margin-bottom: 15px">
  <form
    hx-post="{% url 'djupkeep:category_update' pk=category.id %}"
    hx-target="#cat-{{ category.id }}">
    <div class="card-body">
      <h5>{{ category.title }}</h5>
      {% bootstrap_form form %}
      <button class="btn btn-primary" type="submit" style="margin-bottom: 15px">
        {% trans "Update" %}
        <span class="htmx-indicator spinner-border spinner-border-sm"></span>
      </button>
      <div class="dropdown">
        <a class="btn btn-secondary dropdown-toggle"
          href="#"
          role="button"
          id="dropdownMenuLink"
          data-bs-toggle="dropdown"
          aria-expanded="false">
          {% trans "Other actions" %}
        </a>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
          <li>
            <a class="dropdown-item"
              hx-get="{% url 'djupkeep:category_detail' pk=category.id %}"
              hx-target="#cat-{{ category.id }}">
              {% trans 'Dismiss' %}
            </a>
          </li>
          <li><hr class="dropdown-divider"></li>
          <li>
            <a class="dropdown-item"
              hx-get="{% url 'djupkeep:category_delete' pk=category.id %}"
              hx-target="#category-list"
              hx-confirm="{% trans 'Are you sure you want to delete category' %} {{ category.title }}">
              {% trans "Delete category" %}
            </a>
          </li>
        </ul>
      </div>
    </div>

  </form>
</div>
