{% extends "djupkeep/locations/base_form.html" %}
{% load bootstrap5 %}
{% load i18n %}
{% load fb_versions %}

{% block content %}
  <form method="POST" action="" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="row">
      <div class="col" style="margin-bottom: 20px">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title">
              {% trans "Update element"%}: {{ object }}
            </h4>
          </div>
          <div class="card-body">
            {% if object.fb_image %}
              <img
                src="{% version object.fb_image 'popup' %}"
                alt="{{ object.intro }}" />
            {% endif %}
            {% bootstrap_field form.location %}
            {% bootstrap_field form.category %}
            {% bootstrap_field form.intro %}
            {% bootstrap_field form.image %}
          </div>
          <div class="card-footer">
            <div class="row">
              <div class="col">
                <input class="btn btn-primary"
                  type="submit"
                  value="{% trans 'Update' %}" />
                <a class="btn btn-secondary"
                  title="{% trans 'View location' %}"
                  href="{% url 'djupkeep:location_detail' pk=location.id %}">
                  <i class="fa fa-map-o"></i>
                </a>
              </div>
              <div class="col text-end">
                <a class="btn btn-danger"
                  title="{% trans 'Delete element' %}"
                  hx-get="{% url 'djupkeep:element_delete' pk=object.id %}"
                  hx-target="#content"
                  hx-push-url="true">
                  <i class="fa fa-times"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col col-xl-8 col-lg-8 col-md-12 col-sm-12 col-12">
        {% bootstrap_field form.geom %}
      </div>
    </div>
  </form>
  {% include "djupkeep/locations/includes/update_data.html" %}
{% endblock content %}
