{% load bootstrap5 %}
{% load i18n %}

{% block content %}
  <div class="card mx-auto" style="max-width: 480px; margin-top: 60px">
    <div class="card-header">
      <h4 class="card-title">
        {% trans "Add element"%}
      </h4>
    </div>
    <form method="POST" action="" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="card-body">
        {% bootstrap_form form %}
      </div>
      <div class="card-footer">
        <input class="btn btn-primary"
          style="margin-bottom: 15px;"
          type="submit"
          value="{% trans 'Add' %}" />
        <a class="link-primary"
          href="#">
          {% trans "Discard" %}
        </a>
      </div>
    </form>
  </div>
{% endblock content %}
