{% load i18n %}
{% load fb_versions %}

{% block content %}
  <div class="card mx-auto mt-4" style="max-width: 960px">
    <div class="card-header">
      <h3>{% translate 'Element' %}: {{ object }}</h3>
    </div>
    <div class="row">
      {% if object.fb_image %}
        <div class="col col-4">
          <img
            class="img-fluid"
            src="{% version object.fb_image 'popup' %}"
            alt="{{ object.intro }}" />
        </div>
      {% endif %}
      <div class="col">
        <div class="card-body">
          <p class="card-text">{{ object.intro }}</p>
          <ul>
            <li><i class="fa fa-folder-o"></i> <a
              class="link-primary"
              hx-get="{% url 'djupkeep:category_detail_related' pk=object.category.id %}"
              hx-target="#content"
              hx-pudh-url="true">
              {{ object.category }}
            </a></li>
            <li><i class="fa fa-map-o"></i> <a
              href="{% url 'djupkeep:location_detail' pk=object.location.id %}?element={{ object.id }}">
              {{ object.location }}
            </a></li>
            <li><i class="fa fa-check-square-o"></i> <a
              class="link-primary"
              {% if perms.djupkeep.add_task %}
                hx-get="{% url 'djupkeep:task_calendar' %}"
              {% else %}
                hx-get="{% url 'djupkeep:task_list' %}"
              {% endif %}
              hx-target="#content"
              hx-push-url="true">
              {% translate "Back to calendar" %}
            </a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="card-footer">
      <a class="btn btn-primary"
        href="{% url 'djupkeep:element_update' pk=object.id %}">
        {% trans "Modify" %}
      </a>
    </div>
  </div>
  <div class="mx-auto" style="max-width: 480px; margin-top: 15px">
    {% if tasks %}
      {% for task in tasks %}
        <div id="task-{{ task.id }}">
          {% include "djupkeep/tasks/htmx/detail.html" %}
        </div>
      {% endfor %}
    {% else %}
      <p>{% trans "No tasks yet" %}</p>
    {% endif %}
    {% if past_tasks %}
      {% for task in past_tasks %}
        {% include "djupkeep/tasks/htmx/detail.html" %}
      {% endfor %}
    {% else %}
      <p>{% trans "No previous tasks" %}</p>
    {% endif %}
  </div>
{% endblock content %}
