{% load i18n %}

<div
  class="card mx-auto"
  style="max-width: 960px; margin-top: 60px" >
  <div class="card-header">
    <h3>{% translate 'Elements' %}</h3>
  </div>
  <div class="card-body">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">{% trans "Category" %}</th>
          <th scope="col">#</th>
          <th scope="col">{% trans "Description" %}</th>
          <th scope="col">{% trans "Location" %}</th>
        </tr>
        {% for element in object_list %}
          <tr>
            <td>
              <a class="link-primary"
                hx-get="{% url 'djupkeep:category_detail_related' pk=element.category.id %}"
                hx-target="#content"
                hx-push-url="true">
                {{ element.category }}
              </a>
            </td>
            <td><strong>
              <a class="link-primary"
                hx-get="{% url 'djupkeep:element_detail' pk=element.id %}"
                hx-target="#content"
                hx-push-url="true">
                {{ element.id }}
              </a>
            </strong></td>
            <td><em>{{ element.intro }}</em></td>
            <td>
              <a class="link-primary"
                href="{% url 'djupkeep:location_detail' pk=element.location.id %}">
                {{ element.location }}
              </a>
            </td>
          </tr>
        {% endfor %}
      </thead>
    </table>
  </div>
  <div class="card-footer">
    <a class="btn btn-success"
      hx-get="{% url 'djupkeep:element_create' %}"
      hx-target="#content"
      hx-push-url="{% url 'djupkeep:element_create' %}?element=true">
      {% trans "Add element" %}
    </a>
  </div>
</div>
