{% load i18n %}

<div
  class="card mx-auto"
  style="max-width: 480px; margin-top: 60px" >
  <div class="card-header">
    <h3>{% translate 'Maintainers' %}</h3>
  </div>
  <div class="card-body">
    <div id="add-maintainer">
      {% include "djupkeep/maintainers/htmx/add_button.html" %}
    </div>
    <div id="maintainer-list"
      hx-get="{% url 'djupkeep:maintainer_list_refresh' %}"
      hx-trigger="refreshMaintainerList from:body">
      {% include "djupkeep/maintainers/htmx/list_refresh.html" %}
    </div>
  </div>
</div>
