{% for year in tasks %}
  <tr>
    <th scope="row">
      {{ year.year }}
    </th>
    {% for month in year.months %}
      <td{% if month.warning %} class="table-danger"{% endif %}>
        {% if month.number %}
          <a class="link-primary"
            hx-get="{% url 'djupkeep:task_list' %}?year={{ year.year }}&month={{ forloop.counter }}"
            hx-target="#content"
            hx-push-url="true">
            {% if month.current %}
              <strong>{{ month.number }}</strong>
            {% else %}
              {{ month.number }}
            {% endif %}
          </a>
        {% else %}
          {% if month.current %}
            <strong>{{ month.number }}</strong>
          {% else %}
            {{ month.number }}
          {% endif %}
        {% endif %}
      </td>
    {% endfor %}
  </tr>
{% endfor %}
