{% load bootstrap5 %}
{% load i18n %}

<div
  class="card mx-auto mt-4">
  <div class="card-header">
    <h3>{% translate 'Task Calendar' %}</h3>
  </div>
  <div class="card-body">
    {% bootstrap_messages %}
    <a class="btn btn-success"
      hx-get="{% url 'djupkeep:task_create' %}"
      hx-target="#content">
      {% trans "Create Tasks" %}
    </a>
    <div id="task-report"></div>
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">{% trans "Year" %}</th>
          <th scope="col">{% trans "Jan" %}</th>
          <th scope="col">{% trans "Feb" %}</th>
          <th scope="col">{% trans "Mar" %}</th>
          <th scope="col">{% trans "Apr" %}</th>
          <th scope="col">{% trans "May" %}</th>
          <th scope="col">{% trans "Jun" %}</th>
          <th scope="col">{% trans "Jul" %}</th>
          <th scope="col">{% trans "Aug" %}</th>
          <th scope="col">{% trans "Sep" %}</th>
          <th scope="col">{% trans "Oct" %}</th>
          <th scope="col">{% trans "Nov" %}</th>
          <th scope="col">{% trans "Dec" %}</th>
        </tr>
      </thead>
      <tbody id="task-list"
        hx-get="{% url 'djupkeep:task_calendar_refresh' %}"
        hx-trigger="refreshTaskList from:body">
        {% include "djupkeep/tasks/htmx/calendar_refresh.html" %}
      </tbody>
    </table>
  </div>
</div>
