{% load i18n %}

<div class="alert alert-{{ task.alert_color }}">
  <strong>{{ task.id }}</strong> -
  {% if task.check_date %}
    {{ task.activity }}
  {% else %}
    <a class="link-primary"
      hx-get="{% url 'djupkeep:task_check' pk=task.id %}"
      hx-target="#task-{{ task.id }}">
      {{ task.activity }}
    </a>
  {% endif %}
  {% if task.check_date %}
    - {{ task.check_date }}
  {% else %}
    - {{ task.due_date }}
  {% endif %}
  {% if task.notes %}
    <p><strong>{% trans "Notes" %}</strong>: <em>{{ task.notes }}</em></p>
  {% endif %}
</div>
