{% for task in object_list %}
  <tr>
    <td><strong>
      {{ task.id }}
    </strong></td>
    <td>
      {{ task.activity }}
    </td>
    <td>
      <a class="link-primary"
        hx-get="{% url 'djupkeep:element_detail' pk=task.element.id %}"
        hx-target="#content"
        hx-push-url="true">
        {{ task.element }}
      </a>
    </td>
    <td>
      {{ task.maintainer|default_if_none:"-" }}
    </td>
    <td
      {% if task.due_date_color %}
        style="color: {{ task.due_date_color }}"
      {% endif %}>
      {{ task.due_date }}
    </td>
    <td>
      {{ task.check_date|default_if_none:"" }} -
      <em>{{ task.notes|default_if_none:"" }}</em>
    </td>
  </tr>
{% endfor %}
