{% load i18n %}

<div
  class="card mx-auto"
  style="margin-top: 60px" >
  <div class="card-header">
    <h3>{% translate 'Tasks' %}</h3>
  </div>
  <div class="card-body">
    <a class="btn btn-success"
      hx-get="{% url 'djupkeep:task_create' %}"
      hx-target="#task-report">
      {% trans "Create Tasks" %}
    </a>
    <div id="task-report"></div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">{% trans "Activity" %}</th>
          <th scope="col">{% trans "Element" %}</th>
          <th scope="col">{% trans "Maintainer" %}</th>
          <th scope="col">{% trans "Due date" %}</th>
          <th scope="col">{% trans "Notes" %}</th>
        </tr>
      </thead>
      <tbody id="task-list"
        hx-get="{% url 'djupkeep:task_list_refresh' %}"
        hx-trigger="refreshTaskList from:body">
        {% include "djupkeep/tasks/htmx/list_refresh.html" %}
      </tbody>
    </table>
  </div>
</div>
