{% for task in object_list %}
  <tr>
    <td><strong>
      {{ task.id }}
    </strong></td>
    <td>
      <a class="link-primary"
        hx-get="{% url 'djupkeep:category_detail_related' pk=task.activity.category.id %}"
        hx-target="#content"
        hx-push-url="true">
        {{ task.activity }}
      </a>
    </td>
    <td>
      <a class="link-primary"
        hx-get="{% url 'djupkeep:element_detail' pk=task.element.id %}"
        hx-target="#content"
        hx-push-url="true">
        {{ task.element }}
      </a>
    </td>
    <td>
      {{ task.maintainer|default_if_none:"-" }}
    </td>
    <td>
      {{ task.due_date }}
    </td>
    <td>
      {{ task.check_date|default_if_none:"-" }}
    </td>
  </tr>
{% endfor %}
