{% load i18n %}
{% load fb_versions %}

<div class="card mx-auto" style="max-width: 960px; margin-top: 60px">
  <div class="card-header">
    <h3>{% translate 'Locations' %}</h3>
  </div>
  <div class="card-body">
    {% if locations %}
      <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
        {% for location in locations %}
          <div class="col">
            <div class="card h-100">
              <div class="card-header">
                <h4>
                  <a class="link-primary"
                    href="{% url 'djupkeep:location_detail' pk=location.id %}">
                    {{ location.title }}
                  </a>
                </h4>
              </div>
              <div class="card-body">
                <img class="card-img-top"
                  src="{% version location.fb_image 'popup' %}"
                  alt="{{ location.intro }}">
                <p>
                  <em>{{ location.intro }}</em>
                </p>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    {% else %}
      <p>{% trans "No locations yet" %}</p>
    {% endif %}
  </div>
  <div class="card-footer">
    <a class="btn btn-success"
      hx-get="{% url 'djupkeep:location_create' %}"
      hx-target="#content"
      hx-push-url="true">
      {% trans "Add location" %}
    </a>
  </div>
</div>
