{% load i18n %}

<div class="card mx-auto" style="max-width: 960px; margin-top: 60px">
  <div class="card-header">
    <h3>{% translate 'Locations' %}</h3>
  </div>
  <div class="card-body">
    {% if locations %}
      <ul>
        {% for location in locations %}
          <li>
            <a class="link-primary" href="{% url 'djupkeep:location_detail' pk=location.id %}">
              {{ location.title }}
            </a>
            <p>- {{ location.intro }}</p>
          </li>
        {% endfor %}
      </ul>
    {% else %}
      <p>{% trans "No locations yet" %}</p>
    {% endif %}
  </div>
</div>
